<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cadastrar</title>
</head>
<body>
  <form action="/cadastrarr" method="post">
    <label for="user">Nome:</label>
    <input type="text" name="nome" id="user"><br/>
    <label for="user">Usuário:</label>
    <input type="text" name="usuarioo" id="user"><br/>
    <label for="password">Senha:</label>
    <input type="text" name="senha" id="password">

    <input type="submit" value="cadastrar">
  </form>
</body>
</html>