<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticar</title>
</head>
<body>
  <div class="container">
  <form action="/logar" method="post">
    <label for="usuarioo">Usuário:</label>
    <input type="text" name="usuarioo" id="usuarioo">
    <label for="senha">Senha:</label>
    <input type="text" name="senha" id="senha">

    <input type="submit" value="Logar">
  </form>
</div>
</body>
</html>